.interpret-image {
    height: 200px;
    width: 200px;
    padding-right: 20px;
}

.interpret-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 2px solid #1c1e1f;
    padding-top: 50px;
}

.interpret-header {
    text-align: center;
    font-family: "Montserrat-Light", sans-serif;
    letter-spacing: 5px;
}
.interpret-disclaimer {
    text-align: center;
    font-family: "OpenSans-Light", sans-serif;
    font-size: 12px;
}

.interpret-name {
    font-size: 20px;
    font-family: "Montserrat-Light", sans-serif;
}

.interpret-description {
    font-family: "OpenSans-Light", sans-serif;
}