.interpret-body {
    text-align: center;
    background-color: rgba(225, 226, 228, 0.5);
}
.interpret-main-header,
.interpret-title {
    letter-spacing: 5px;
    font-weight: 700;
}
.interpret-title {
    font-size: 30px;
}
.interpret-title-2,
.interpret-main-header,
.interpret-title {
    font-family: 'Montserrat-Light';
}
.interpret-main-header {
    font-size: 18px;
}
.interpret-text {
    font-family: "OpenSans-Light", sans-serif;
}
.interpret-links {
    font-size: 35px;
    color: #1D1E20;
    letter-spacing: 5px;
    margin-left: 25px;
    position: relative;
}
.interpret-links:hover{
    color: #ff5151;
    font-weight: 700;
}
.interpret-links::before {
    content: "";
    position: absolute;
    bottom:0;
    left: 0;
    width: 0;
    height: 1px;
    transition: .25s linear;
    background-color: #ff5151;
    transform: scaleX(0);
}
.interpret-links:hover::before {
    width: 100%;
    transform: scaleX(1);
}
.interpret-div {
    margin: 0 auto;
    width: 800px;
}