.wakeup-body {
    text-align: center;
    background-color: rgba(225, 226, 228, 0.5);
}
.wakeup-links {
    letter-spacing: 5px;
    color: #1D1E20;
    position: relative;
    margin-top: 10px;
    font-weight: 700;
}
.wakeup-links:hover{
    color: #ff5151;
}
.wakeup-mainheader {
    font-size: 40px;
}
.wakeup-mainheader,
.wakeup-SJ-info {
    font-family: "OpenSans-Light", sans-serif;
}
.wakeup-header,
.wakeup-SJ-header {
    font-family: "Montserrat", sans-serif;
}
.wakeup-header {
    font-size: 20px;
}
.wakeup-info,
.wakeup-subheader,
.wakeup-mainheader,
.wakeup-header  {
    text-align: center;
}
.wakeup-SJ-links {
    width: 300px;
}
.wakeup-SJ-header {
    font-size: 15px;
}
.wakeup-SJ-info {
    font-size: 12px;
}
.links-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 50px;
}
.inner-links-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}